@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');


/** GENERAL DOCUMENT CONFIGURATIONS */
:host{
    --Blanco: #fff;
    --Negro: #010101;
    --Gris: #c2c7c9;
    --Gris2: #f6f4f5;

    --Component: #f6f4f5;
    --InnerComponent: #fff;



    --Pad08: 8px;
    --Pad16: 16px;
    --Pad32: 32px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    transition: all 0.3s ease-in;
}
/** GENERAL DOCUMENT CONFIGURATIONS */


/** FONTS */
.general-font{
    font-family: "IBM Plex Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.mono-font{
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}
/** FONTS */


/** COMMON CLASES */
.d-flexx{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.d-row{
    flex-direction: row;
}
.d-col{
    flex-direction: column;
}
.trans{
    transition: all 0.5s ease;
}
/** COMMON CLASES */


/** BUTTONS CLASES */
.btn-gen{
    width: 100%;
    height: auto;
    border-radius: var(--Pad08);
    padding: var(--Pad16);
    text-align: center;
    text-transform: uppercase;
    border: none;
    color: var(--Blanco);
    cursor: pointer;
    font-weight: bold;
    background-color: var(--InnerComponent);
}
    .btn-gen > svg{
        width: auto;
        height: 2cap;
        aspect-ratio: 1/1;
        /* stroke-width: 3px; */
        margin-right: 0.5rem;
    }
/** BUTTONS CLASES */


.general-sections{
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    background-color: var(--Component);
    border-radius: var(--Pad32);
    padding: var(--Pad32);
    margin-bottom: var(--Pad16);
}


/** MAIN CONTAINER */
.main-container{
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding: var(--Pad16);
    background-color: var(--Blanco);
    justify-content: start;
    gap: var(--Pad16);
}
    .innerContainer{
        width: min(600px, 100%);
        height: auto;
        min-height: 90vh;
        justify-content: start;
        background-color: transparent;
        align-items: stretch;
    }
/** MAIN CONTAINER */

@media only screen and (max-width: 900px) {
    
}